<header>
  <img style="height: 9vh" src="../../../../../../assets/152400626_895752037847907_7072356985460831357_n.png"
    alt="icon" />
  <a routerLink="/play" class="logo">play</a>
  <ul>
    <li><a routerLink="/homeLogin">Home</a></li>
    <li><a routerLink="/aboutus">About</a></li>
    <li><a href="#">Contact us</a></li>
    <li><a routerLink="/signin">Sign out</a></li>
    <div>
      <li>
        <img style="position: relative; top: 22px; left: 17px; height: 8vh"
          src="../../../../../../assets/avatardefault_92824.png" alt="icon" /><a href="#"> User: tèo </a>
      </li>
    </div>

  </ul>
</header>