<div>
  <header>
    <div style="display: flex; flex-direction: row">
      <a href="#">
        <img style="
            height: 80px;
            width: 80px;
            position: relative;
            top: 5px;
            right: 5px;
          " src="../../../../../../assets/152400626_895752037847907_7072356985460831357_n.png" alt="icon" />
      </a>

      <a href="#" class="bt1">Play</a>
    </div>

    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">Sign out</a></li>
      <div class="button">
        <li>
          <a style="display: flex; flex-direction: row" href="#">
            <img style="
                height: 50px;
                width: 50px;
                position: relative;
                top: -1px;
                right: 10px;
              " src="../../../../../../assets/avatardefault_92824.png" alt="icon" />
            <p style="margin-top: 13.5px">User123</p>
          </a>
        </li>
      </div>
    </ul>
  </header>
</div>