<div class="divall" style="margin-top: 1; ">
   <div class="div1"  ><p style="color: white;" > <strong>999</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>Tiến Lên Miền Nam</strong> </p></div>
  <div class="div1"  ><p style="color: rgb(221, 221, 48);"> <strong>2000</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>4/4</strong> </p></div>
  <div style=" width: 5%;"><button routerLink="/play" style="margin-left: 15%; margin-top: 8%;" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
  <img class="img" src="../../../../../assets/login.png" ></button> </div>
</div>

<div class="divall" style="margin-top: 1; ">
  <div class="div1"  ><p style="color: white;" > <strong>999</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>Tiến Lên Miền Nam</strong> </p></div>
  <div class="div1"  ><p style="color: rgb(221, 221, 48);"> <strong>2000</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>4/4</strong> </p></div>
  <div style=" width: 5%;"><button routerLink="/play" style="margin-left: 15%; margin-top: 8%;" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
  <img class="img" src="../../../../../assets/login.png" ></button> </div>
</div>

<div class="divall" style="margin-top: 1; ">
  <div class="div1"  ><p style="color: white;" > <strong>999</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>Tiến Lên Miền Nam</strong> </p></div>
  <div class="div1"  ><p style="color: rgb(221, 221, 48);"> <strong>2000</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>4/4</strong> </p></div>
  <div style=" width: 5%;"><button routerLink="/play" style="margin-left: 15%; margin-top: 8%;" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
  <img class="img" src="../../../../../assets/login.png" ></button> </div>
</div>

<div class="divall" style="margin-top: 1; ">
  <div class="div1"  ><p style="color: white;" > <strong>999</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>Tiến Lên Miền Nam</strong> </p></div>
  <div class="div1"  ><p style="color: rgb(221, 221, 48);"> <strong>2000</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>4/4</strong> </p></div>
  <div style=" width: 5%;"><button routerLink="/play" style="margin-left: 15%; margin-top: 8%;" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
  <img class="img" src="../../../../../assets/login.png" ></button> </div>
</div>

<div class="divall" style="margin-top: 1; ">
  <div class="div1"  ><p style="color: white;" > <strong>999</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>Tiến Lên Miền Nam</strong> </p></div>
  <div class="div1"  ><p style="color: rgb(221, 221, 48);"> <strong>2000</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>4/4</strong> </p></div>
  <div style=" width: 5%;"><button routerLink="/play" style="margin-left: 15%; margin-top: 8%;" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
  <img class="img" src="../../../../../assets/login.png" ></button> </div>
</div>

<div class="divall" style="margin-top: 1; ">
  <div class="div1"  ><p style="color: white;" > <strong>999</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>Tiến Lên Miền Nam</strong> </p></div>
  <div class="div1"  ><p style="color: rgb(221, 221, 48);"> <strong>2000</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>4/4</strong> </p></div>
  <div style=" width: 5%;"><button routerLink="/play" style="margin-left: 15%; margin-top: 8%;" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
  <img class="img" src="../../../../../assets/login.png" ></button> </div>
</div>

<div class="divall" style="margin-top: 1; ">
  <div class="div1"  ><p style="color: white;" > <strong>999</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>Tiến Lên Miền Nam</strong> </p></div>
  <div class="div1"  ><p style="color: rgb(221, 221, 48);"> <strong>2000</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>4/4</strong> </p></div>
  <div style=" width: 5%;"><button routerLink="/play" style="margin-left: 15%; margin-top: 8%;" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
  <img class="img" src="../../../../../assets/login.png" ></button> </div>
</div>

<div class="divall" style="margin-top: 1; ">
  <div class="div1"  ><p style="color: white;" > <strong>999</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>Tiến Lên Miền Nam</strong> </p></div>
  <div class="div1"  ><p style="color: rgb(221, 221, 48);"> <strong>2000</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>4/4</strong> </p></div>
  <div style=" width: 5%;"><button routerLink="/play" style="margin-left: 15%; margin-top: 8%;" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
  <img class="img" src="../../../../../assets/login.png" ></button> </div>
</div>

<div class="divall" style="margin-top: 1; ">
  <div class="div1"  ><p style="color: white;" > <strong>999</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>Tiến Lên Miền Nam</strong> </p></div>
  <div class="div1"  ><p style="color: rgb(221, 221, 48);"> <strong>2000</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>4/4</strong> </p></div>
  <div style=" width: 5%;"><button routerLink="/play" style="margin-left: 15%; margin-top: 8%;" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
  <img class="img" src="../../../../../assets/login.png" ></button> </div>
</div>

<div class="divall" style="margin-top: 1; ">
  <div class="div1"  ><p style="color: white;" > <strong>999</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>Tiến Lên Miền Nam</strong> </p></div>
  <div class="div1"  ><p style="color: rgb(221, 221, 48);"> <strong>2000</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>4/4</strong> </p></div>
  <div style=" width: 5%;"><button routerLink="/play" style="margin-left: 15%; margin-top: 8%;" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
  <img class="img" src="../../../../../assets/login.png" ></button> </div>
</div>

<div class="divall" style="margin-top: 1; ">
  <div class="div1"  ><p style="color: white;" > <strong>999</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>Tiến Lên Miền Nam</strong> </p></div>
  <div class="div1"  ><p style="color: rgb(221, 221, 48);"> <strong>2000</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>4/4</strong> </p></div>
  <div style=" width: 5%;"><button routerLink="/play" style="margin-left: 15%; margin-top: 8%;" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
  <img class="img" src="../../../../../assets/login.png" ></button> </div>
</div>

<div class="divall" style="margin-top: 1; ">
  <div class="div1"  ><p style="color: white;" > <strong>999</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>Tiến Lên Miền Nam</strong> </p></div>
  <div class="div1"  ><p style="color: rgb(221, 221, 48);"> <strong>2000</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>4/4</strong> </p></div>
  <div style=" width: 5%;"><button routerLink="/play" style="margin-left: 15%; margin-top: 8%;" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
  <img class="img" src="../../../../../assets/login.png" ></button> </div>
</div>

<div class="divall" style="margin-top: 1; ">
  <div class="div1"  ><p style="color: white;" > <strong>999</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>Tiến Lên Miền Nam</strong> </p></div>
  <div class="div1"  ><p style="color: rgb(221, 221, 48);"> <strong>2000</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>4/4</strong> </p></div>
  <div style=" width: 5%;"><button routerLink="/play" style="margin-left: 15%; margin-top: 8%;" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
  <img class="img" src="../../../../../assets/login.png" ></button> </div>
</div>

<div class="divall" style="margin-top: 1; ">
  <div class="div1"  ><p style="color: white;" > <strong>999</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>Tiến Lên Miền Nam</strong> </p></div>
  <div class="div1"  ><p style="color: rgb(221, 221, 48);"> <strong>2000</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>4/4</strong> </p></div>
  <div style=" width: 5%;"><button routerLink="/play" style="margin-left: 15%; margin-top: 8%;" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
  <img class="img" src="../../../../../assets/login.png" ></button> </div>
</div>

<div class="divall" style="margin-top: 1; ">
  <div class="div1"  ><p style="color: white;" > <strong>999</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>Tiến Lên Miền Nam</strong> </p></div>
  <div class="div1"  ><p style="color: rgb(221, 221, 48);"> <strong>2000</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>4/4</strong> </p></div>
  <div style=" width: 5%;"><button routerLink="/play" style="margin-left: 15%; margin-top: 8%;" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
  <img class="img" src="../../../../../assets/login.png" ></button> </div>
</div>

<div class="divall" style="margin-top: 1; ">
  <div class="div1"  ><p style="color: white;" > <strong>999</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>Tiến Lên Miền Nam</strong> </p></div>
  <div class="div1"  ><p style="color: rgb(221, 221, 48);"> <strong>2000</strong> </p></div>
  <div class="div1"  ><p style="color: white;" > <strong>4/4</strong> </p></div>
  <div style=" width: 5%;"><button routerLink="/play" style="margin-left: 15%; margin-top: 8%;" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
  <img class="img" src="../../../../../assets/login.png" ></button> </div>
</div>

