.example-spacer {
  flex: 1 1 auto;
}
.div1{
  width: 25%;
  height: 50px;
  padding-top: 10px;
  border: solid;
  text-align: center;
  font-size: 20pt;
  // position: inherit;
  // position: static;
}
