
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./aboutus.component.scss">
</head>
<body>
    <div>
        <div>
            <h1>About Us</h1>
            <p class="text">
                The standard 52-card deck of French-suited playing cards is the most common pack of playing cards used today. 
                In English-speaking countries it is the only traditional pack used for playing cards; in many countries of the world, however, it is used alongside other traditional, often older, 
                standard packs with different suit symbols and pack sizes. 
                The most common pattern worldwide and the only pattern commonly available in Britain and America is the English pattern pack. 
                The second most common is the Belgian-Genoese pattern, designed in France, but whose use spread to Spain, Italy, the Ottoman Empire, the Balkans and much of North Africa and the Middle East.
            </p>
            <div class="skill">
                <span>The Deck Of Card</span>
                <span> & Lucky 13</span>
            </div>
        </div>
    </div>   
</body>
</html>
