


<div>
    <ul class="snip1226" style="min-height: 100%;">
        <li class="current"><a href="#" data-hover="Home">Home</a></li>
        <li><a href="#" data-hover="About Us">About Us</a></li>
        <li><a href="#" data-hover="game">Game</a></li>
        <li><a href="#" data-hover="Services">Services</a></li>
        <li><a href="#" data-hover="Products">Products</a></li>
        <li><a href="#" data-hover="Contact">Contact</a></li>
      </ul>
</div>
<h1>
    <link rel="stylesheet" href="./aboutus.component.scss">
    <div class="center" style="margin-left: 40% ;">     
        ABOUT US
    </div>
    <br>
    <img src="https://image.ibb.co/nk616F/Layer_1_copy_21.png" width="47" height="11" align ="center" style="margin-left: 46%;">
</h1>
    <article>
      <p>
            The standard 52-card deck of French-suited playing cards is the most common pack of playing cards used today.
            In English-speaking countries it is the only traditional pack used for playing cards; in many countries of the world, 
            however, it is used alongside other traditional, often older, standard packs with different suit symbols and pack sizes. 
            The most common pattern worldwide and the only pattern commonly available in Britain and America is the English pattern pack. 
            The second most common is the Belgian-Genoese pattern, designed in France, but whose use spread to Spain, Italy.
      </p>
      <p>
            A standard 52-card pack comprises 13 ranks in each of the four French suits: clubs (♣), diamonds (♦), hearts (♥) and spades (♠), with reversible (double-headed) court cards (face cards). 
            Each suit includes an Ace, a King, Queen and Jack, each depicted alongside a symbol of its suit; and numerals or pip cards from the Deuce (Two) to the Ten,
            with each card depicting that many symbols (pips) of its suit. Anywhere from one to six (most often two or three since the mid-20th century) Jokers, often distinguishable with one being more colourful than the other, are added to commercial decks, as some card games require these extra cards
      </p>
      <p>
            The most popular standard pattern of the French deck is the English pattern (pictured below), 
            sometimes referred to as the International pattern or Anglo-American pattern.
            The second most common is the Belgian-Genoese pattern, which was designed in France for export and spread to Spain, 
            Italy, the Ottoman Empire, the Balkans and much of North Africa and the Middle East. There are also numerous others such as the Berlin pattern, 
            Nordic pattern, Dondorf Rhineland pattern and the variants of the European pattern.
      </p>
    </article>
    <div class="social_icons" style="margin-left: 30%;">
      <div class="square">
        <div class="icons">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
      <div class="square">
        <div class="icons">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </div>
      </div>
      <div class="square">
        <div class="icons">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
      </div>
      <div class="square">
        <div class="icons">
          <i class="fa fa-dribbble" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  
