* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0%;
  left: 0%;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  padding: 20px 80px;
  z-index: 100000;
}

header.sticky {
  padding: 10px 100px;
  background: white;
}
header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  font-size: 1.5rem;
  white-space: nowrap;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

header ul li a:hover,
header.sticky ul li a:hover {
  color: #006eff;
}

header ul li a:focus {
  color: #006eff;
  padding-bottom: 5px;
  border-color: #006eff;
  border-bottom: solid 5px;
}

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:100,300,400);

@mixin hover-active() {
  &:hover,
  &:active {
    @content;
  }
}
header ul div li a:hover {
  color: #fff;
}

header ul div li a:focus {
  color: #fff;
  border-bottom: none;
  padding: 16px 32px;
}

header ul .button {
  background-image: linear-gradient(to right, #f05a28, #ec008c, #f05a28);
  background-size: 300% 100%;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.5rem;
  opacity: 1;
  padding: 16px 32px;
  font-weight: 700;
  line-height: 1.1;
  white-space: nowrap;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  @include hover-active() {
    background-position: -50% 0;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap");
header p {
  font-family: "Annie Use Your Telescope", cursive;
}
