<body>
    <header>
      <img
        style="height: 9vh"
        src="../../../../../../assets/152400626_895752037847907_7072356985460831357_n.png"
        alt="icon"
      />
      <a href="#" class="logo">LUCKY 13 </a>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Sign in</a></li>
        <div>
          <li><a routerLink="/signup" >Sign up</a></li>
        </div>
      </ul>
    </header>
  </body>

