<div>
  <header>
    <a href="#" class="logo" style="display: flex; flex-direction: row">
      <img style="height: 80px; width: 80px"
        src="../../../../../../assets/152400626_895752037847907_7072356985460831357_n.png" alt="icon" />
      <p style="margin-top: 20px">Lucky13</p>
    </a>

    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/aboutus">About</a></li>
      <li><a routerLink="/contact">Contact us</a></li>
      <li><a routerLink="/signin">Sign in</a></li>
      <div class="button">
        <li><a routerLink="/signup">Sign up</a></li>
      </div>
    </ul>
  </header>
</div>