* {
  box-sizing: border-box;
}
.column {
  float: left;
  padding: 10px;
}
.column.side {
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
  width: 100%;
  }
}
#div1 {
  display: flex;

}
p.solid { border-radius: 5%;;border-style: solid; width: 35vw; ;height: 45vw; margin-left: 15%; margin-top: 5%; background-color: black; }
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}
input[type=text]{
  width: 65%;
  padding: 25px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  border-radius: 15px;
  background: #C4C4C4;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
button {
  background-color: black;
  color: white;
  padding: 25px;
  margin: 25px 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 65%;
  opacity: 0.9;
  font-size: 15pt;
}
button:hover {
  opacity:1;
}
.container {
  padding: 5px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
.logo {
  padding: 5px;
  width: 15vw;
  margin-left: 30%;
  margin-top: 10%;
}
.labai {
  width: 80%;
  margin-top: 30%;
  margin-left: 10%;
}
