
<div>
  <div class="row">
    <div class="column side">
      <img class="labai" src="../../../assets/w.jpg" alt="">
    </div>
    <div class="column side">
      <div>
        <div>
          <img class="logo" src="../../../assets/logo-removebg-preview.png" alt="logo">
        </div>
       <h1  style="margin-left: 25%; font-size: 25pt;"> <strong>Welcome To You  !!!</strong></h1>
        <div class="container" style="margin-top: 2%; width: 100%;" >
          <div style="margin-left: 20%;">

            <input  type="text" placeholder="Enter ID" [(ngModel)]="ID" name="Id" required>

            <input type="password" placeholder="Enter PW" [(ngModel)]="PW" name="PW" required>

            <input type="text" placeholder="Enter Name" [(ngModel)]="name" name="NAME" required>

            <input type="text" placeholder="Enter Phone" [(ngModel)]="phone" name="PHONE" required>

            <input type="text" placeholder="Enter Email" [(ngModel)]="email" name="email" required>

            <div class="clearfix">
              <button (click)="login()" type="submit" class="signupbtn">Sign u/p</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

