<mat-toolbar style="background-color: #afafaf;">
  <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"><img src="../../../../../assets/back.png" style="width: 25px;"></button>
  <span style="margin-left: 3%;" ><strong style="font-size: 20pt;" >Chọn Bàn</strong></span>
  <span class="example-spacer"></span>
  <button style="margin-right: 2%;" mat-raised-button color="primary">Tìm Phòng</button>
  <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"><img  style="width: 25px;" src="../../../../../assets/reload.png"></button>
</mat-toolbar>

