<mat-toolbar style="background-color: #333333;">
  <button style="background-color: white;" mat-mini-fab color="primary"
    aria-label="Example icon button with a menu icon"><img src="../../../../../assets/back.png"
      style="width: 25px;"></button>
  <span style="margin-left: 10%;"><strong style="font-size: 25pt; color: white; ">Chọn Bàn</strong></span>
  <span class="example-spacer"></span>
  <button style="margin-right: 2%;background-color: white; color: black;width: 200px;height: 50px; font-size: 22pt;"
    mat-raised-button color="primary" (click)="openDialogJoin()">Tìm Phòng</button>
  <button style="margin-right: 2%;background-color: white; color: black;width: 200px;height: 50px;  font-size: 22pt;"
    mat-raised-button color="primary" (click)="openDialog()">Tạo Phòng</button>
  <button style="background-color: white;" mat-mini-fab color="primary"
    aria-label="Example icon button with a menu icon"><img style="width: 25px;"
      src="../../../../../assets/reload.png"></button>
</mat-toolbar>

<!-- trong -->