<div class="container-footer w-container">
  <div class="w-row">
    <div class="footer-column w-clearfix w-col w-col-4">
      <img
        style="padding-top: 5%;"
        src="../../../../../../assets/152400626_895752037847907_7072356985460831357_n.png"
        alt=""
        width="40"
        class="failory-logo-image"
      />
      <h3 class="footer-failory-name">Lucky13</h3>
      <p class="footer-description-failory">
        Lorem ipsum dolor sit amet.<br />
      </p>
    </div>
    <div class="footer-column w-col w-col-8">
      <div class="w-row">
        <div class="w-col w-col-8">
          <div class="w-row">
            <div class="w-col w-col-7 w-col-small-6 w-col-tiny-7">
              <h3 class="footer-titles">Members</h3>
              <p class="footer-links">
                <a href="" target="_blank"
                  ><span class="footer-link">Tuan Kiet<br /></span></a
                ><a href=""
                  ><span class="footer-link">Duc Trong<br /></span></a
                ><a href=""><span class="footer-link">Huu Thang</span></a
                ><span><br /></span
                ><a href=""
                  ><span class="footer-link"
                    >Minh Long<br /></span></a
                ><strong><br /></strong>
              </p>
            </div>
            <div class="w-col w-col-5 w-col-small-6 w-col-tiny-5">
              <h3 class="footer-titles">Other</h3>
              <p class="footer-links">
                <a href=""
                  ><span class="footer-link">Sponsor Us!<br /></span></a
                ><a href=""
                  ><span class="footer-link">Review<br /></span></a
                ><a href=""><span class="footer-link">FAQ</span></a
                ><strong><br /></strong>
              </p>
            </div>
          </div>
        </div>
        <div class="column-center-mobile w-col w-col-4">
          <h3 class="footer-titles">Follow Us!</h3>
          <a
            href=""
            target="_blank"
            class="footer-social-network-icons w-inline-block"
            ><img
              src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbfe70fcf5a0514c5b1da_Instagram%20Icon.svg"
              width="20"
              alt="Instagram icon" /></a
          ><a
            href=""
            target="_blank"
            class="footer-social-network-icons w-inline-block"
            ><img
              src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbe42e1e6034fdaba46f6_Facebook%20Icon.svg"
              width="20"
              alt="Facebook Icon" /></a
          ><a
            href=""
            target="_blank"
            class="footer-social-network-icons w-inline-block"
            ><img
              src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dc0112f2b6739c9ba0871_Pinterest%20Icon.svg"
              width="20"
              alt="Pinterest Icon"
              class=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
