.timer {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1em;
  letter-spacing: -1px;
  color: white;
  border-radius: 25%;
  border: solid;
  width: 5%;
  position:absolute;
  margin-left: 65%;
  margin-top: 30%;
}
.timer span {
  font-size: 2em;
  margin: 10px 10px 0 15px;
}
