
.column {
  float: left;
  padding: 10px;
}
.column.side {
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

#div1 {
  display: flex;

}
body {font-family: Arial, Helvetica, sans-serif;  }
* {box-sizing: border-box}
input[type=text]{
  width: 35vw;
  padding: 3%;
  margin: 0px 0 10px 0;
  display: inline-block;
  border: none;
  border-radius: 15px;
  background: white;
  border: solid 0.1px;

}
input[type=text]:focus, input[type=password]:focus {
  outline: none;
}
input[type=password]{
  width: 35vw;
  padding: 3%;
  margin: 0px 0 10px 0;
  display: inline-block;
  border: none;
  border-radius: 15px;
  background: white;
  border: solid 0.2px;
}

input[type=password]:focus, input[type=password]:focus {
  outline: none;
}
.button1 {
  background-color: black;
  color: white;
  padding: 2.5%;
  margin: 0.5% 0;
  border-radius: 15px;
  width: 35vw;
  font-size: 1.5vw;
}

.button2 {
  background-color: rgb(146, 3, 3);
  color: white;
  padding: 2.5%;
  margin: 0.5% 0;
  border-radius: 15px;
  width: 35vw;
  font-size: 1.5vw;

}
// .button2 {
//   width: 50px;
//   height: 50px;
//   background-color: black;
//   border-radius: 50px;
//   margin-left: 60%;
//   margin-top: -150px;
// }

// .container {
//   padding: 5px;
//   margin-top: -3%;
// }
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

// .signupbtn:focus{
//   border: none;

// }


.logo {
  padding: 5px;
  width: 15vw;
  margin-left: 40%;
  margin-top: 5%
}
.labai {
  width: 40vw;
  margin-top: 10%;
  margin-left: 25%;
  border-radius: 10%;
}


