<div style="background-color: #fef2f5;">
    <link rel="stylesheet" href="./signin.component.scss">
    <div class="row">
        <div class="div_left">
            <div class="colum side">
                <p class="soild">
                    <img class="labal" style="background-color: black;" src="../../../assets/152709564_1300261807025059_1192142188484005047_n (1).png" alt="ro">
                </p>
            </div>
        </div>
        <div class="columside">
            <div>
                <div class="container">
                    <div>
                        <img src="../../../assets/152400626_895752037847907_7072356985460831357_n (1).png" alt="logo">
                    </div>
                <div>
                    <div style="margin-left: 20px;">
                        <input type="text" placeholder="enter ID" name="email" required>
                        <input type="text" placeholder="enter PW" name="PW" required>
                        <div class="clear fix">
                            <button type="submit" class="signin">SIGNIN</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
