<link rel="stylesheet" href="./user-imfor.component.scss">
<div>
  <h1 class="title"> Lucky 13 Game</h1>
<div class="user-profile">
  <img id="avatar" src="../../../assets/148289519_2819067041641563_8497096841051158799_o.jpg" width="100%"/>
    <div id="fullname">Lê Gia Vinh</div>
  <div id="username"> Le Vinh </div>
     <div class="description">
      <div>Account: <span id="account">Vinhvippro</span></div>
      <div>City: <span id="city">HoChiMinh</span></div>
      <div>id: <span id="id Number">2473y72887</span></div>
      <div>Level: <span id="level">20</span></div>
      <div id="sidebar" style="display: flex;" >
        <div>
            <label>Match Win: 100</label>
            <p style="text-align: right;">Match Lose: 50</p> 
            <p>title:50</p>
        </div>
          <div>
            <p>Asset: 100.000$</p>

          </div>
      </div>
   </div>
   <div class="footer">
      <button id="btn">Add Friend!</button>
   </div>
 </div>
</div>



<p>vinh</p>
