#img1 {
    background-image: url("../../../../assets/d3917a1364e1fdf4f99629e7123c0227.jpg");
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover;
    height: 100%;
  }