// *{
//   font-family: "Poppins", sans-serif;
//   margin: 0;
//   padding: 0;
// }
.img1 {
background-image: url("../../../../assets/AP-PlayingCards-DKNGBlackWheels-LS07.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: center;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
height: 140vh;
}

 


.container {
  height: 100vh;
  width: 100vw;
  max-height: 350px;
  max-width: 600px;
  position: relative;
  top: 37%;
  left: 30%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

 @media only screen and (max-height: 700px) {
    .container{
        top: 37.5%;
    }
  }

@media screen and (max-height:700px) {
  .container{
    height: 50%;
    position: relative;
    top: -5%;
  }
}

@media screen and (max-width:900px) {
  .container{
    width: 30%;
  }
}

.ctn {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 55%;
  color: white;
  height: 100vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:flex-start;
  text-align: left;
  overflow: hidden;
  font-size: 1rem;
  font-weight: bold;
}

@media only screen and (max-height: 700px) {
    .ctn{
      height: 100%;
      font-size: 0.7rem;
      position: relative;
      top: 0;
    }
  }

h1 {
    position: relative;
    // top: 0px;
    animation: title 2s ease-in forwards;
  }

  @keyframes title {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  .content {
    position: relative;
    // margin: 25px 30vh 50px 30vh;
    // bottom: 0;
    animation: content 2s ease-in forwards;
  }

  @keyframes content {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  .btn {
    border: 2px solid #fff;
    color: #fff;
    padding: .5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
    transition: all .3s linear;
    animation: btn 1.5s ease-in 1.5s forwards;
    border-radius: 10px;
  }

  @keyframes btn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  .btn:hover {
    background-color: #fff;
    color: #000;
    font-weight: bold;
  }










