<app-nav-top></app-nav-top>
<div class="img1">
  <div class="ctn">
    <h1>Welcom to Lucky13</h1>
    <p class="content">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus,
      cupiditate fugiat dolorem itaque porro error tenetur quia obcaecati dolor
      ea eius tempore commodi animi labore consectetur quam? Eius, maiores
      architecto? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Nesciunt consectetur nam modi quidem? Illum corporis ut facilis quam,
      incidunt dolore ab quia, cupiditate molestias atque ipsum vitae saepe,
      sunt recusandae.
    </p>
    <a href="/room" class="btn">Play now</a>
  </div>
  <div class="container">
    <app-carousel [slides]="slides"></app-carousel>
  </div>
</div>
<app-footer></app-footer>
