<div>
  <div style=" position: absolute; bottom: 24%; width: 100%; ">
    <button style="margin-left: 20%;" (click)="sendCards()" class="button button1">Đánh</button>
    <button style="margin-left: 1%;" (click)="offTurn()" class="button button2">Bỏ Lượt</button>
  </div>
  <div style="margin-top: 630px; position: absolute; bottom: 0%; width: 100%; text-align: center;">

    <app-cards *ngFor='let card of cardService.cardsOfUser' [card]="card"></app-cards>
  </div>

</div>

<button style="margin-left: 1%;" (click)='joinRoom()' class="button button2">join</button>
<button style="margin-left: 1%;" (click)='startGame()' class="button button2">Play</button>
