<div>
  <div style=" position: absolute; bottom: 30%; width: 100%; margin-left: 25%;" >
    <button  (click)="removeCard()" mat-raised-button color="primary">Đánh</button>
    <button  style="margin-left: 1%;" (click)="clearCard()" mat-raised-button color="primary">Bỏ Lượt</button>
  </div>
  <div style="margin-top: 630px; position: absolute; bottom: 10%; width: 100%; text-align: center; margin-left: 80px;">
    <app-cards *ngFor="let card of cardService.cards" [card]="card"></app-cards>
  </div>
</div>
