<app-nav-findroom></app-nav-findroom>

<div style="display: flex; background-color: rgb(168, 167, 167);width:95%;margin-left: 2.5%;">
  <div class="div1">
    <p> <strong>ID</strong> </p>
  </div>
  <div class="div1">
    <p> <strong>Tên Bàn </strong> </p>
  </div>
  <div class="div1">
    <p> <strong>Mức Cược <img style="width: 20px;" src="../../../assets/money.png"> </strong> </p>
  </div>
  <div class="div1">
    <p> <strong>Số Người <img style="width: 20px;" src="../../../assets/user.png"> </strong> </p>
  </div>
</div>
<app-listroom></app-listroom>
<app-user></app-user>