<app-nav-findroom></app-nav-findroom>

<div style="display: flex; background-color: red;">
  <div class="div1">
    <p> <strong>ID Bàn</strong> </p>
  </div>
  <div class="div1">
    <p> <strong>Tên Bàn <img style="width: 20px;" src="../../../assets/table.png"> </strong> </p>
  </div>
  <div class="div1">
    <p> <strong>Mức Cược <img style="width: 20px;" src="../../../assets/money.png"> </strong> </p>
  </div>
  <div class="div1">
    <p> <strong>Số Người <img style="width: 20px;" src="../../../assets/user.png"> </strong> </p>
  </div>
</div>
<app-room></app-room>
<app-user></app-user>