table {
  width: 100%;
}
.class1{
  border: solid;
  text-align: center; background-color: #AD3939; font-size: 18pt;
}
.div1{
  width: 25%;
  height: 50px;
  padding-top: 10px;
  border: solid;
  text-align: center;
  font-size: 20pt;
}
